<div class="container">
    <div class="container-wrapper">
        <div class="left">
            <img src="https://g99plus.b-cdn.net/desktop1%20leaf/Rectangle%206.png">
            <p style="text-align: center;">ArtWork Text</p>
        </div>

        <div class="right">
            <div class="logo">
                <img src="https://g99plus.b-cdn.net/desktop1%20leaf/image%203%20(1).png">
                <h3>Artisit Name</h3>
            </div>

            <div class="content">
                <h3>Artowkr Name</h3>
                <p>3rd July 2021</p>
            </div>

            <div class="desc">
                <p>Thi is the artwork description andd I amn typing some dummy text for testing purpose</p>
            </div>

            <div class="button">
                <button>Exit</button>
            </div>
        </div>
    </div>
</div>
<div id="gjs" style="border:1px solid #dfdfdf"></div>